// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  padding: 15px 0;
  margin-bottom: 15px;

  @media (min-width: $screen-xl) {
    padding: 44px 0;
  }

  &__container {
    @include container;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: $screen-lg) {
      align-items: center;
      flex-direction: row;
    }

    .logo {
      margin-bottom: 25px;

      @media (min-width: $screen-lg) {
        margin-right: auto;
        margin-bottom: 0;
      }
    }

    .header-feedback {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      @media (min-width: $screen-lg) {

      }

      &__title {
        font-family: 'Lobster', cursive;
        color: $color-main;
        font-weight: 400;
        font-size: 24px;
        margin: 10px 30px 10px 25px;

        @media (min-width: $screen-xl) {
          font-size: 30px;
          margin: 10px 50px 10px 25px;
        }
      }

      .btn {

        font-size: 16px;

        @media (min-width: $screen-xl) {
          font-size: 21px;
        }
      }
    }
  }
}
