// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lighter:                hsl(0, 0%, 80%) !default;
$gray-lightest:               hsl(0, 0%, 90%) !default;
$text-color:                  hsl(0, 0%, 10%) !default;
$line-height:                 1.375em;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

$border-radius:               3px !default;

.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 0.857em 2.429em;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  text-align: center;
  font-size: 21px;
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: $line-height;
  text-decoration: none;
  text-transform: none;
  color: #fff;
  border-radius: 30px;
  border: 1px solid $color-main;
  background-color: $color-main;
  background-image: none;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
    // color: $text-color;
    // background-color: darken($gray-lightest, 10%);
    // border-color: darken($gray-lighter, 12%);
  }

  &:active,
  &:focus {
    @include field-focus;
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--shadow {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: -10px;
      left: -5%;
      height: 150%;
      width: 110%;
      opacity: 0.6;
      border-radius: 50px;

      /* Declaring our shadow color inherit from the parent (button) */
      background: inherit;

      /* Blurring the element for shadow effect */
      filter: blur(10px);

      /* Transition for the magic */
      transition: all 0.2s;
    }

    &:hover {
      &::after {
        filter: blur(4px);
        height: 130%;
        width: 106%;
        bottom: -9px;
        left: -3%;
      }
    }
  }
}
