// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element

  &__container {
    @include container;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (min-width: 1500px) {
      justify-content: flex-end;
    }
  }

  .footer-contacts {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;

    @media (min-width: 1500px) {
      padding: 35px 200px 30px 160px;
      background-image: url('../img/footer-decor.png');
      background-position: left center;
      background-repeat: no-repeat;
    }

    &__item {

      margin: 5px 15px 5px 0;

      .icon {

        display: inline-block;
        margin-right: 8px;
        margin-bottom: -2px;
      }

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
